<style type="text/css">
<!--

body { text-align:center; }  
#wrap { width:1000px; text-align:left; margin:0 auto; }  
#inner { margin:0 10px; }  
#mainWrap { width:700px; float:right;}  
#sideWrap { width:250px; float:left;}  

.clear { clear:both; }  
.clear hr { display:none; }  

body{/*内容部分*/
  font-size: 10.5pt;/*文字サイズ*/
  color: #665e51;/*文字色*/
}

h1{/*タイトル部分*/
  width: 90%;
  font-size: 20pt;/*文字サイズ*/
  color: #665e51;/*文字色*/
  padding: 0px 0.5em 1px 0.5em;
  border-left: solid 3px #665e51;
  border-bottom: solid 5px #665e51;
  filter: alpha(opacity=100,finishopacity=10,style=1);
  }

h2{
  width: 90%;
  font-size: 16pt;/*文字サイズ*/
  color: #665e51;/*文字色*/ 
  padding: 1px 0.5em 5px 0.5em;
  border-left: solid 3px #a5a79a;
  border-bottom: solid 4px #a5a79a;
  filter: alpha(opacity=100,finishopacity=10,style=1);
}

h3{
  width: 90%;
  font-size: 14pt;/*文字サイズ*/
  color: #149bdf;/*文字色*/
  padding: 1px 1em 5px 0.7em;
  border-left: solid 3px #9abca4;
  border-bottom: dashed 2px #9abca4;
  filter: alpha(opacity=100,finishopacity=10,style=1);  
}

dfn{
    font-style:normal;
    font-weight:bold;    
}

.titlebar{
	background-color:#149bdf;
	padding: 10px 0.5em 10px 0.5em;
    border: 2px solid #149bdf;
    border-radius:4px;
    font-size:40px;
    font-weight:bolder;
    color:#e2e65b;
    letter-spacing:0.2em;          
}

.mainsection{
	padding-left:1em;
    padding-right:1em;
    border-left: 1px solid #a5a79a;
    border-right:1px solid #a5a79a;
}

.subsection{
	margin-top:1.5em;
	padding-left:0.5em;
    padding-right:1em;
    border-left: 1px solid #a5a79a;
}

.enclose{
	margin:0px,10px,0px,0px;
	padding-left:1em;
    border:3px solid #bf545e;
    border-radius:10px;
}

.example{
	padding-left: 1em;
    border:1px solid #149bdf;
    border-radius:10px;
}

.note{
	margin-top: 0.5em;
    margin-bottom: 2.5em;
    margin-right:1em;
	padding: 0px 0.5em 2px 0.5em;
    border: 2px solid #149bdf;
    border-radius:5px;   
}

.note .title{
    font-size:13pt;
    color:#149bdf;
    font-weight:bold;
}

.problem{
	margin-top: 0.5em;
    margin-bottom: 2.5em;
    margin-right:1em;
	padding: 0px 0.5em 2px 0.5em;
    border: 2px solid #665e51;
    border-radius:5px;   
}

.problem .title{
    font-size:13pt;
    color:#665e51;
    font-weight:bold;    
}

.list1 {
	font-size:12pt;
	list-style-type:square;
    margin: 1em;
    padding-left:2em;
	border-left: solid 3px #eabd00;
}

.list1 li{
    margin-bottom: 5px;
}

.words {
	margin-left:3em;
    margin-right:5em;
    margin-bottom:2.5em;
	padding-left: 0.5em;
    padding-top:0.1em;
    padding-right:0.1em;
    padding-bottom:0.5em;
    border: 1px solid #86a070;
    border-radius:2px;
}

.drani{
	padding-left: 0.5em;
    padding-top:0.1em;
    padding-bottom:0.5em;
    border: 2px dashed #bf545e;
    border-radius:2px;       
}


.plist li{
    list-style-type:upper-roman;
}

.plist li ol{
	padding-left: 1em;
    margin-bottom: 0.7em;
}

.plist li ol li{
	padding-top: 0.2em;
    padding-bottom:0.2em;
    list-style-type:decimal;
}

hr{
	margin-left: -0.2em;
    margin-right: 1em;
	height: 2px;
	background-color:#a5a79a;
	border: none;
	color: #a5a79a;    
}

.icon{
	border: 1px #000000 solid;
	float:left;
    height: 65px;
	width: 65px;
    margin-right: 1em;
    margin-top: -10px;
    margin-bottom: 10px;
}

caption{
    font-size:small;    
}

table{
    margin-left:auto;
    margin-right:auto;
    border: 2px #665e51 solid;
    margin-top:0em;
    margin-bottom:2.5em;
}

table,th,td{
	 border-collapse:collapse;
}

td,th{
     border: 1px #665e51 solid;
	 padding: 3px 7px;
     margin-left:5em;
}

#vocab td{
    font-size:small;
}

#vocab .meaning{
    width: 450px;
}

.clrf{
    clear:both;
}

footer{
    position:bottom;
    font-size:small;
    text-align:center;
}

footer .left{
    float:left;
    margin-bottom:0.5em;
}



footer .right{
    float:right;
    margin-bottom:0.5em;
}

.koc1{    
}
.koc2{
}
.koc3{
}
.sor1{   
}
.sev1{
}



-->
</style>
