<style type="text/css">
<!--

body { text-align:center; }  
#wrap { width:780px; text-align:left; margin:0 auto; }  
#inner { margin:0 10px; }  
#mainWrap { width:500px; float:right; }  
#sideWrap { width:250px; float:left; }  

.clear { clear:both; }  
.clear hr { display:none; }  


section{/*全体枠*/
  width: 98%;/*全体の幅*/
  border-left: solid 4px #665e51;/*枠色*/
  border-bottom: solid 1px #665e51;
  }

h1{/*タイトル部分*/
  width: 95%;
  font-size: 20pt;/*文字サイズ*/
  font-family: Impact,Arial,Verdana,sans-serif;
  letter-spacing: 0.2em;
  color: #e6d9b9;/*文字色*/
  background-color: #665e51;/*背景色*/
  padding: 1px 1em 1px 0.7em;
  border-left: solid 3px #b59a4d;
  filter: alpha(opacity=100,finishopacity=10,style=1);
  }

h2{/*タイトル部分*/
  width: 90%;
  font-size: 14pt;/*文字サイズ*/
  font-family: Arial,Verdana,sans-serif;
  letter-spacing: 0.1em;
  color: #e6d9b9;/*文字色*/
  background-color: #665e51;/*背景色*/
  padding: 1px 1em 1px 0.7em;
  border-left: solid 3px #DADADD;
  filter: alpha(opacity=100,finishopacity=10,style=1);
  }


dfn{
    color : #149bdf;
    font-style:normal;
    font-weight:bold;
    
}

.enclose{
	padding-left:1em;
    padding-top:1em;
    border:3px solid #bf545e;
    border-radius:10px;
}

.example{
	padding-left: 1em;
    border:1px solid #149bdf;
    border-radius:10px;
}

footer{
    position:bottom;
    font-size:small;
    text-align:center;
}
-->
</style>
