<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_contents">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand game" href="{{site.baseurl}}/">
				はじめてのロジバン 第２版
			</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar_contents">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle game" data-toggle="dropdown" role="button" aria-expanded="false">
						ニューゲーム disc 1<span class="caret"></span>
					</a>
          <ul class="dropdown-menu" role="menu">
						<li ><a href="{{ site.baseurl }}/article/nunctu/0.html">キャラ紹介*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/1.html">ごあいさつ</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/2.html">発音とアルファベット*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/3.html">品詞とアクセント*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/4.html">文の基本構造*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/5.html">述語に慣れる*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/6.html">複合語（tanru）*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/7.html">冠詞*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/8.html">転換（SE類）*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/9.html">項番明示（FA類）*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/10.html">抽象詞（名詞節）*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/11.html">終止詞の省略*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/12.html">間制（時制と空間制）*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/13.html">相（事象局面）*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/14.html">sumtcita*</a></li>
          </ul>
        </li>
				<li class="dropdown">
          <a href="#" class="dropdown-toggle game" data-toggle="dropdown" role="button" aria-expanded="false">
						disc 2<span class="caret"></span>
					</a>
          <ul class="dropdown-menu" role="menu">
						<li ><a href="{{ site.baseurl }}/article/nunctu/15.html">繋辞（be動詞）*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/16.html">否定文*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/17.html">疑問文*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/18.html">命令（相手に促す表現）*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/19.html">関係詞*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/20.html">縛位詞（BE, BEI）*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/21.html">数詞*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/22.html">引用*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/23.html">接続詞*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/24.html">代詞*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/25.html">心態詞*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/26.html">おわりに…？*</a></li>
						<li ><a href="{{ site.baseurl }}/article/nunctu/27.html">【命題と性質】*</a></li>
						<li><a href="{{ site.baseurl }}/article/nunctu/28.html">【存在と形式論理】*</a></li>
          </ul>
        </li>
				<li class="dropdown">
          <a href="#" class="dropdown-toggle game" data-toggle="dropdown" role="button" aria-expanded="false">
						つよくてコンティニュー<span class="caret"></span>
					</a>
          <ul class="dropdown-menu" role="menu">
						<li><a href="{{ site.baseurl }}/article/nunctu_remai/1.html">字詞*</a></li>
						<li><a href="{{ site.baseurl }}/article/nunctu_remai/2.html">アクセントと名称語*</a></li>
						<li><a href="{{ site.baseurl }}/article/nunctu_remai/3.html">言文一致**</a></li>
						<li><a href="{{ site.baseurl }}/article/nunctu_remai/4.html">セルマホ**</a></li>
						<li><a href="{{ site.baseurl }}/article/nunctu_remai/5.html">ロジバンの基礎**</a></li>
						<li class="disabled"><a href="#">tanru**</a></li>
						<li class="disabled"><a href="#">抽象詞（NU類）</a></li>
						<li class="disabled"><a href="#">間・相制</a></li>
						<li class="disabled"><a href="#">法制</a></li>
						<li class="disabled"><a href="#">関係詞</a></li>
						<li class="disabled"><a href="#">冠詞</a></li>
						<li class="disabled"><a href="#">限定詞</a></li>
						<li class="disabled"><a href="#">数、量化</a></li>
						<li class="disabled"><a href="#">接続詞</a></li>
						<li class="disabled"><a href="#">心態詞</a></li>
						<li class="disabled"><a href="#">大きな構造</a></li>
						<li class="disabled"><a href="#">小さな構造</a></li>
						<li class="disabled"><a href="#">内容語の小分類</a></li>
          </ul>
        </li>
				<li class="dropdown">
          <a href="#" class="dropdown-toggle game" data-toggle="dropdown" role="button" aria-expanded="false">
						補助資料<span class="caret"></span>
					</a>
          <ul class="dropdown-menu" role="menu">
						<li ><a href="{{ site.baseurl }}/article/djukarni/ui.html">心態詞チョイス**</a></li>
						<li  class="disabled"><a href="#">新文法案について</a></li>
						<li  class="disabled"><a href="#">主観世界について</a></li>
						<li  class="disabled"><a href="#">PSの傾向</a></li>
						<li  class="disabled"><a href="#">PU,FAhAリスト</a></li>
						<li  class="disabled"><a href="#">BAIリスト</a></li>
						<li  class="disabled"><a href="#">時間表現</a></li>
						<li  class="disabled"><a href="#">述なれ語／項まとめ</a></li>
						<li  class="disabled"><a href="#">疑問語まとめ</a></li>
						<li  class="disabled"><a href="#">終止詞まとめ</a></li>
						<li  class="disabled"><a href="#">接続詞リスト</a></li>
						<li  class="disabled"><a href="#">lujvo要論</a></li>
						<li  class="disabled"><a href="#">fu'ivla要論</a></li>
						<li  class="disabled"><a href="#">チートシート</a></li>
          </ul>
        </li>
				<li class="dropdown">
          <a href="#" class="dropdown-toggle game" data-toggle="dropdown" role="button" aria-expanded="false">
						ツール<span class="caret"></span>
					</a>
          <ul class="dropdown-menu" role="menu">
						<li ><a href="https://github.com/cogas/hajiloji/wiki/%E3%81%AF%E3%81%98%E3%83%AD%E3%82%B8-FAQ" target="blank">はじロジFAQ</a></li>
						<li class="last"><a href="http://www.memrise.com/course/748346/-14197/" target="blank">はじロジ単語学習（Memrise）</a></li>
      </ul>
		</div>
	</div>
</nav>
