<body class="subsection">

<h3>メニュー</h3>
**=未着手<br>
*=暫定完成（大幅修正の可能性あり）

<ul class="no_stika_ul">
<li ><a href="{{ site.baseurl }}/">トップ</a></li>
<li ><a href="{{ site.baseurl }}/sidebar.html">目次*</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/0.html">キャラ紹介*</a></li>
</ul>

<h3 >▶ ニューゲーム</h3>
<ol>
<li ><a href="{{ site.baseurl }}/article/nunctu/1.html">ごあいさつ</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/2.html">発音とアルファベット*</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/3.html">品詞とアクセント*</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/4.html">文の基本構造*</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/5.html">述語に慣れる*</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/6.html">複合語（tanru）*</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/7.html">冠詞*</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/8.html">転換（SE類）*</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/9.html">項番明示（FA類）*</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/10.html">抽象詞（名詞節）*</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/11.html">終止詞の省略*</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/12.html">間制（時制と空間制）*</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/13.html">相（事象局面）*</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/14.html">sumtcita*</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/15.html">繋辞（be動詞）*</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/16.html">否定文*</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/17.html">疑問文*</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/18.html">命令（相手に促す表現）*</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/19.html">関係詞*</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/20.html">縛位詞（BE, BEI）*</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/21.html">数詞**</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/22.html">接続詞**</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/23.html">引用と限定詞**</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/24.html">代詞**</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/25.html">心態詞**</a></li>
<li ><a href="{{ site.baseurl }}/article/nunctu/26.html">おわりに**</a></li>
</ol>

<h3 >▶ 強くてコンティニュー</h3>
<ul  class="sidelist inter small">
<li >tanru</li>
<li >冠詞</li>
<li >SE類・FA類</li>
<li >抽象詞（NU類）</li>
<li >間・相制</li>
<li >法制</li>
<li >否定・疑問・命令</li>
<li >関係詞</li>
<li >数詞</li>
<li >接続詞</li>
<li >引用・限定詞</li>
<li >代詞</li>
<li >心態詞</li>
</ul>

<h3 >補習授業</h3>
<ul  class="sidelist inter small">
<li >PSの傾向</li>
<li >終止詞</li>
<li >tanruを括弧よく</li>
<li >1/3の非感情な心態詞</li>
<li >抽象詞をもっと</li>
<li >解タグ新書</li>
<li >数をもっと！</li>
<li >制、モア！</li>
<li >もっと論理接続</li>
</ul>

<h3 >補助資料</h3>
<ul class="sidelist inter small">
<li >心態詞チョイス</li>
<li >新文法案について</li>
<li >主観世界について</li>
<li >PU,FAhAリスト</li>
<li >BAIリスト</li>
<li >時間表現</li>
<li >接続詞リスト</li>
<li >lujvo要論</li>
<li >fu'ivla要論</li>
<li >チートシート</li>
</ul>
