<style type="text/css">
<!--

#wrap { width:100%; text-align:left; margin:0 auto;}  
#inner {margin:0;}  
#mainWrap { width:75%; float:right; margin-top:30px;}
#sideWrap { width:23%; float:left;}
#contentWrap {
  margin-right: 3%;
  padding: 20px;
  background-color:#ffffff;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}
.no_margin {margin:0;}

/* フレームの設定 -------------------------------- */

/* タイトルバー */
#titlebar{
    width:100%;
	background-color:#009688;
    margin:0;
    margin-bottom:5px;
    padding: 5px 0 5px 5px;
	box-shadow: 0 0  10px 2px rgba(0,0,0,0.4);
    font-size: 16pt;
    font-weight:bolder;
    color:#ffffff;
    letter-spacing:0.1em;
    cursor:pointer;
}

#twitter{
	margin-right:10px;
    float:right;
}

.clear { clear:both; }  
.clear hr { display:none; }

.clrf{
    clear:both;
}  

/* -------------------------------- */

.accent{
    color: #e91e63;
}

/* デフォルト設定 ------------------------------------------------ */

body{
  background-color:#f5f5f5;
  font-size: 10.5pt;
}

h1{
  width: 95%;
  font-size: 24pt;
  color: #000000;
  padding-left:0.5em;
  border-left: solid 6px #00796B;
  border-bottom: solid 1px #ccc;
  }

h2{
  width: 95%;
  font-size: 18pt;/*文字サイズ*/
  color: #424242;/*文字色*/ 
  padding-left: 0.5em;
  border-left: solid 3px #009688;
  border-bottom: solid 1px #ccc;
}

h3{
  width: 95%;
  font-size: 14pt;/*文字サイズ*/
  color: #616161;/*文字色*/
  padding-left: 0.5em;
  border-bottom:  3px double #B2DFDB;
}

/* デフォルト 
ul {
	list-style-type:square;
    margin: 1em;
    padding-left:2em;
	border-left: solid 3px #eabd00;
}

ul li {
	margin: 0.5em;
}

ol li{
    margin: 0.5em;
}*/

ul{
	list-style-type:square;    
}

.no_stika_ul{
	list-style-type:square;
	border-left: none; 
    padding-left: 2em;
}

.no_stika_ul li{
    margin: 0.5em;
}

/* 罫線 */
hr{
	margin-left: -0.2em;
    margin-right: 1em;
	background-color:#584939;
    height: 1px;
	border: none;
	color: #584939;    
}

/* 表の基本設定 */
table{
    margin-left:2em;
    margin-right:auto;
    border: 2px #665e51 solid;
    margin-top:1.5em;
    margin-bottom:1.5em;
}

table,th,td{
	 border-collapse:collapse;
}

td,th{
     border: 1px #665e51 solid;
	 padding: 3px 7px;
     margin-left: 5em;
}

/* なにこれ */
caption{
    font-size:small;    
}

header{
    font-size:small;
}

footer{
    position:bottom;
    font-size:small;
    text-align:center;
}

footer .left{
    float:left;
    margin-bottom:0.5em;
}


footer .right{
    float:right;
    margin-bottom:0.5em;
}

a:link { color:#5161ac;}
a:visited { color:darkslateblue;}
a:hover { color:#ef4035;}
a:active { color:#fcb034;}
a{
    text-decoration: none;
}

.box{
	margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right:1em;
    margin-left:1em;
	padding: 0.2em 1em 0.2em 1em;
    border: 1px solid #584939;
}

.titlebox{
}
.titlebox:first-child{
    font-size: 13pt;
    font-weight: bold;
    margin-left: -0.5em;    
}

/* クラス修飾 ----------------------------- */

/* ## box拡張 ------- */

/* box note */
.note{
    padding: 5px 5px;
    border: 2px solid #ccc; 
    border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
}
.note .title{
    color: #149bdf;
    font-size: 13pt;
    font-weight: bold;
}

/* box memo */
.memo{
    border: 2px solid #8dc63f;
    border-radius:5px;  
}
.memo .title{
    color: #8dc63f;
    font-size: 13pt;
    font-weight: bold;
    margin-left: -0.5em;    
}

/* ## リスト ------- */

/* 大きいリスト */
ul.big {
	font-size:12pt;
}

ul.big li{
    margin-bottom: 5px;
}

/* 小さいリスト／サイドバーのリスト */
ul.small {
	font-size:10pt;
}

ul.small li{
    margin-bottom: 5px;
}

/* リンク */
.subsection a{
    text-decoration: none;
}

.icon{
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}


-->
</style>
