#wrap {
  text-align:left;
  padding: 0 1%;
  padding-top: 120px;
  padding-bottom: 20px;
  background-color:#f5f5f5;
}
@media screen and (min-width : 897px){
  #wrap{
    padding-top: 60px;
  }
}
@media screen and (max-width : 767px){
  #wrap{
    padding-top: 60px;
  }
}
#mainWrap {
  font-size: 16px;
  background-color:#ffffff;
  padding: 20px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}
#sideWrap {}

#mainFooter{
  background-color:#f5f5f5;
  padding: 10px 0;
}

/* フレームの設定 -------------------------------- */

/* タイトルバー 2016.9.3 bootstrap導入のため廃止
#titlebar{
  width:100%;
	background-color:#009688;
  color:#ffffff;
  margin:0;
  margin-bottom:5px;
  padding: 5px 0 5px 5px;
	box-shadow: 0 0  10px 2px rgba(0,0,0,0.4);
  font-size: 16pt;
  font-weight:bolder;
  letter-spacing:0.1em;
  cursor:pointer;
}
*/

/* ナビゲーションバー */

#navbar{
  box-shadow: 0 0  10px 2px rgba(0,0,0,0.4);
}

/* -------------------------------- */
