.accent{
    color: #e91e63;
}

h1{
  color: #000000;
  padding-left: 0.5em;
  border-left: solid 6px #00796B;
  border-bottom: solid 1px #ccc;
  margin-bottom: 0.5em;
}

h2{
  color: #424242;
  padding-left: 0.5em;
  border-left: solid 3px #009688;
  border-bottom: solid 1px #ccc;
  margin-bottom: 0.5em;
}

h3{
  color: #616161;
  padding-left: 0.2em;
  padding-bottom: 0.1em;
  border-bottom:  3px double #B2DFDB;
}

/* 罫線 */
hr{
	margin-left: 10px -20px;
	background-color: #009688;
    height: 1px;
	border: none;
}

header{
    font-size:small;
}

footer{
    position:bottom;
    font-size:small;
    text-align:center;
}

/* ------ リンク ------- */

a:link { color:#5161ac;}
a:visited { color:darkslateblue;}
a:hover { color:#ef4035;}
a:active { color:#fcb034;}
a{
    text-decoration: none;
}

.subsection a{
    text-decoration: none;
}


@media screen and (max-width : 512px){
  .icon{
    width: 4em;
  }
}

#yesnoans{
  margin-left: 3em;
  color:#ef4035;
  font-size:large;
  font-weight:bold;
}

@font-face {
  font-family: 'PixelMplus12';
  src: url('../font/PixelMplus12-Bold.ttf') format('truetype');
}

.game{
  font-family: 'PixelMplus12';
}
