<style type="text/css">
<!--

/* クラス修飾 ----------------------------- */

/* ## box拡張 ------- */

/* box keywords */
.keywords{
	margin-left:20%;
	margin-right:20%;
    background-color: #e5f2ff;
    font-size:10pt;
    border: 0px;
}
.keywords .title{
    font-size:12pt;
    color:#f79412;
    font-weight:bold;
}

/* box problem 章内問題 */
.problem{
    border: 2px solid #665e51;
    border-radius:5px;   
}
.problem .title{
    color: #665e51;
    font-size: 13pt;
    font-weight: bold;
    margin-left: -0.5em;    
}


/* box valsi */
.valsi {
    border: 1px solid #86a070;
    border-radius:2px;
}

dfn{
    font-weight:bold;
}

/* box valsi drani （重要語句）*/
.drani{
    border: 2px dashed #bf545e;
}
.drani dfn{
    font-size:large;
}

/* jufra */
.jufra {
	border-left: 4px solid #00aeef;
    padding-left: 1em;
    padding-top: 1px;
    padding-bottom: 1px;
}

/* ## リスト ------- */

/* 章末問題のリスト 
ol.plist li{
    list-style-type:upper-roman;
    font-size: 16px;
}

ol.plist li ol{
	font-size: 14px;
	padding-left: 1em;
    margin-bottom: 0.7em;
}

ol.plist li ol li{
	font-size:inherit;
	padding-top: 0.2em;
    padding-bottom:0.2em;
    list-style-type:decimal;
}*/

/* ## テーブル ------------ */


/* 章末の単語リスト */
#vocab td{
    font-size: small;
}

#vocab .meaning{
    width: 600px;
}
-->
</style>
