@media print{
#sideWrap{display:none;}
#mainWrap{float:none; width:100%;}
#contentWrap{width:100%; padding: 0px, 0px, 0px, 0px; box-shadow:none;}
#mainFooter{display:none;}
#vocab td{
	font-size: 9pt;
}
#twitter{display:none;}
footer{display:none;}
.icon{width:40px; height:40px;}
body{color:#000000; font-size: 10pt;/*文字サイズ*/}
#yesnobtn{display:none;}
#yesnoans{display:none;}
.oxbutton{display:none;}
}
