@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* Starter CSS for Flyout Menu */
.cssmenu,
.cssmenu ul,
.cssmenu ul li,
.cssmenu ul ul {
  list-style: none;
  margin: 0;
  padding:0;
  border: 0;
}
.cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
}
.cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
}
.cssmenu ul li.hover,
.cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
.cssmenu ul li {
  float: none;
}
/* Custom CSS Styles */
.list_title{
    padding-top: 5px;
    padding-left: 5px;
    background-color:#ffffff;
    color:#009688;
    font-size:12pt;
    font-weight:bold;
    border-bottom:solid 2px #f5f5f5;
}

.cssmenu {
  font-size: 9pt;
  width: 80%;
  margin-top:30px;
  margin-left:30px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}
.cssmenu ul a,
.cssmenu ul a:link,
.cssmenu ul a:visited {
  display: block;
  color: #848889;
  text-decoration: none;
  font-weight: 300;
}
.cssmenu > ul {
  float: none;
}
.cssmenu ul {
  background: #fff;
}
.cssmenu > ul > li {
  border-left: 3px solid #B2DFDB;
  padding: 8px 10px;
}
.cssmenu > ul > li > a {
/*   padding: 10px 20px; 直前の奴にコピーした*/
}
.cssmenu > ul > li:hover {
  border-left: 3px solid #009688;
}
.cssmenu ul li:hover > a {
  color: #3dbd99;
}
.cssmenu > ul > li:hover {
  background: #f6f6f6;
}