---
layout: default
---

<nav>
	<ul class="pager">
		{% if page.prulahi %}
			<li class="previous"><a href="{{site.baseurl}}/article/nunctu{{page.mai}}/{{ page.prulahi }}.html">前へ</a></li>
		{% endif %}
		{% if page.bavlahi %}
			<li class="next"><a href="{{site.baseurl}}/article/nunctu{{page.mai}}/{{ page.bavlahi }}.html">次へ</a></li>
		{% endif %}
	</ul>
</nav>

<h1>{{page.title}}</h1>

{{content}}

<hr>

{% if page.TFa %}
<h3 >○×問題</h3>
<div id="TFquestion">
<ol >
{% for elem in page.TFq %}
<li>{{elem}}</li>
{% endfor %}
</ol>
</div>

<p><input type="button" class="btn btn-default btn-lg" onclick="yesnocheck();" value="採点する" id="yesnobtn"><span id="yesnoans">-/-問正解！</span></p>
<input type="hidden" name="answer" value="{{ page.TFa }}">

<hr>
{% endif %}

{% if page.TFa or page.ctuca %}
<h3 >今回出てきた単語</h3>

<div>
	<table id="vocab" class="table"></table>
</div>
<hr>
{% endif %}

<nav>
	<ul class="pager">
		{% if page.prulahi %}
			<li class="previous"><a href="{{site.baseurl}}/article/nunctu{{page.mai}}/{{ page.prulahi }}.html">前へ</a></li>
		{% endif %}
		{% if page.bavlahi %}
			<li class="next"><a href="{{site.baseurl}}/article/nunctu{{page.mai}}/{{ page.bavlahi }}.html">次へ</a></li>
		{% endif %}
	</ul>
</nav>
