---
layout: default
---

<div align="right">
<a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="はじロジ">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
<h1>{{page.title}}</h1>

{{content}}

<hr>


<footer >
<div class="left"><a href="{{site.baseurl}}{{ page.prulahi }}">←prev</a></div><div class="right"><a href="{{site.baseurl}}{{ page.bavlahi }}">next→</a></div>
<div class="clrf"></div>
</footer>
</section>
</p>
</div>

