---
layout: default
---

<h1>{{page.title}}</h1>

<!--
<div class="box keywords">
<div class='title'>keywords</div>
<p>{{page.keywords}}</p>
</div>-->

{{content}}


<h3 >○×問題</h3>
<div id="TFquestion">
<ol >
{% for elem in page.TFq %}
<li>{{elem}}</li>
{% endfor %}
</ol>
</div>

<p><input type="button" onclick="yesnocheck();" value="採点する" id="yesnobtn"></p>
<div id="yesnoans">-/-問正解！</div>
<input type="hidden" name="answer" value="{{ page.TFa }}">

<hr>

<h3 >今回出てきた単語</h3>
<table id="vocab"></table>

<hr>

<footer >
<div class="left"><a href="{{site.baseurl}}/article/nunctu/{{ page.prulahi }}.html">←prev</a></div>
<div class="clrf"></div>
</footer>
